<div class="navbar-inner">

  <!-- Navbar Brand -->
  <div class="navbar-brand">
    <a ui-sref="main.auth.dashboard" class="logo">
      <img src="images/monky.jpg" width="80" alt="" class="hidden-xs"/>
    </a>

  </div>

  <!-- Mobile Toggles Links -->
  <div class="nav navbar-mobile">

    <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
    <div class="mobile-menu-toggle">
      <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
      <a href="#" data-toggle="settings-pane" data-animate="true">
        <i class="linecons-cog"></i>
      </a>

      <a href="#" data-toggle="user-info-menu-horizontal">
        <i class="fa-bell-o"></i>
        <span class="badge badge-success">7</span>
      </a>

      <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
      <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
      <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
      <a href="#" data-toggle="mobile-menu-horizontal">
        <i class="fa-bars"></i>
      </a>
    </div>

  </div>

  <div class="navbar-mobile-clear"></div>


  <!-- main menu -->
  <ul class="navbar-nav" ng-show="is_admin">
    <li ng-class="{active: $state.includes('main.auth.dashboard')}">
      <a ui-sref="main.auth.dashboard">
        <i class="fa fa-dashboard"></i>
        <span class="title">Dashboard</span>
      </a>

    </li>
    <li ng-class="{active: $state.includes('main.auth.users')}">
      <a ui-sref="main.auth.users">
        <i class="fa fa-user"></i>
        <span class="title">Users</span>
      </a>

    </li>
    <li ng-class="{active: $state.includes('main.auth.events')}">
      <a ui-sref="main.auth.events">
        <i class="fa fa-list"></i>
        <span class="title">Event Log</span>
      </a>

    </li>


  </ul>


  <!-- notifications and other links -->
  <ul class="nav nav-userinfo navbar-right " ng-show="is_admin">

    <li class="active">
      <a ng-click="logout()" href="#">
        <i class="fa-lock"></i>
        Logout
      </a>

    </li>

  </ul>
</div>

